.container {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 600px
   
}

.container div {
    display: flex;
    flex: auto;
    min-height: 0px;
}

.container div div {
    flex: auto ;
    border: 1px solid black;

}   